<h1>Active trains of thought:</h1>
<div class="list-group">
  <div class="train-topic-wrapper" ng-repeat="topic in topics" ng-mouseover="showTopicActions = true" ng-mouseleave="showTopicActions = false">
    <a href="" ng-href="#/topics/{{topic.$id}}">{{topic.text}}</a>
    <div class="list-group train-topic-actions" ng-show="showTopicActions">
      <div class="train-topic-action train-topic-delete pull-right" ng-click="topics.remove(topic)">
        <span class="train-topic-action-icon glyphicon glyphicon-trash"></span>
      </div>
      <a ng-href="#/topics/{{topic.$id}}/edit" class="train-topic-action train-topic-edit pull-right">
        <span class="train-topic-action-icon glyphicon glyphicon-pencil"></span>
      </a>
    </div>
  </div>
</ul>